.main{
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height : 100vh;
    flex: 1;
    padding : 2rem;
}

.blogItem h3{
    cursor : pointer;
    font-size: 2rem;
    margin: 0;
}
.blogItem p{
   max-width : 45vw;
}

.btn{
    color : white;
    background-color: black;
    padding : 7px 6px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 9px;
    font-size: 12px;
  }

  @media screen and (max-width:600px){
    .blogItem p{
        max-width : 90vw;
     }
  }